<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.book.mapper.RukuMapper">
    <sql id="BASE_TABLE">
        ruku
    </sql>
    <sql id="BASE_COLUMN">
        rukuid,ruku_bn,ruku_author,ruku_press,ruku_price,ruku_date,ruku_n
    </sql>
    <insert id="insertRuku" parameterType="Ruku">
        insert into ruku
        (ruku_bn,ruku_author,ruku_press,ruku_price,ruku_date,ruku_n)
         values
         (
         #{ruku_bn,jdbcType=VARCHAR},
         #{ruku_author,jdbcType=VARCHAR},
         #{ruku_press,jdbcType=VARCHAR},
         #{ruku_price,jdbcType=DOUBLE},
         #{ruku_date,jdbcType=VARCHAR},
         #{ruku_n,jdbcType=VARCHAR}
         )
    </insert>
    <!--&lt;!&ndash;把入库单的商品上架到图书表单&ndash;&gt;-->
    <!--<insert id="insertRukuDo" parameterType="Ruku">-->
        <!--insert into bookadmin-->
        <!--(bookadmin.bn,bookadmin.author,bookadmin.press,bookadmin.price,bookadmin.n)-->
         <!--select-->
         <!--ruku.ruku_bn,-->
         <!--ruku_author,-->
         <!--ruku_press,-->
         <!--ruku_price,-->
         <!--ruku_n-->
         <!--where ruku.rukuid = #{rukuid}-->
    <!--</insert>-->
    <select id="listRuku" resultType="Ruku">
        select * from ruku
    </select>
    <select id="getRukuByRukuid" resultType="Ruku">
        select ruku_bn,ruku_author,ruku_press,ruku_price,ruku_date,ruku_n from ruku where rukuid = #{rukuid}
    </select>
    <update id="updateRuku" parameterType="Ruku">
        update
        ruku
        set ruku_bn = #{ruku_bn},ruku_author = #{ruku_author},ruku_press = #{ruku_press},ruku_price = #{ruku_price},ruku_date = #{ruku_date},ruku_n = #{ruku_n}
        where rukuid = #{rukuid}
    </update>
    <delete id="deleteRuku" parameterType="Ruku">
        delete from ruku where rukuid = #{rukuid}
    </delete>
</mapper>